<td>
    {{#if dialogmelding.innkallingMoterespons }}
        {{ dialogmelding.innkallingMoterespons.dokIdNotat }}
    {{/if}}

    {{#if dialogmelding.foresporselFraSaksbehandlerForesporselSvar }}
        {{ dialogmelding.foresporselFraSaksbehandlerForesporselSvar.dokIdNotat }}
    {{/if}}

    {{#if dialogmelding.henvendelseFraLegeHenvendelse }}
        {{ dialogmelding.henvendelseFraLegeHenvendelse.dokIdNotat }}
    {{/if}}
</td>
